*{
    margin: 0;
    padding: 0;
    border: none;
    font-family: 'lato', sans-serif;
    color: #fff
}
body{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #090E21;
}
h1{
    display: block;
    text-align: center;
    margin-bottom: 32px;
}
.container{
    position: relative;
    width: 500px;
    display: flex;
    flex-direction: column;
    background-color: #1E1E32;
    padding: 24px;
}
#form-controls{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.form-inputs{
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 8px;
}
 input{ 
    padding: 16px 24px;
    margin-bottom: 8px;
    color: #090E21;
    outline: none;
}
input::placeholder{
    color: #404042;
}
#erro{
    display: none;
    text-align: center;
    font-size: 14px;
    color: rgb(255, 255, 32);
}
.form-buttons{
    width: 80%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    gap: 16px;
    margin-top: 16px;
}
.form-buttons input{
    width: 100%;
    cursor: pointer;
    color: #fff;
    font-weight: 700;
    transition: 0.2 ease;
}
.form-buttons input:hover{
    opacity: 0.8;
}
#calcular{
    background-color: #DF3E35;;
}
#limpar{
    background-color: #404042;
}
#container-result{
    
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;
}
.container-result h2{
    font-size: 2.5rem;
    font-weight: 600;
    margin-bottom: 8px;
}
.container-result h3{
    font-size: 1.3rem;
    font-weight: 600;
    margin-bottom: 8px;
}
#imc-result{
    color: rgb(255, 217, 0);
}
table{
    width: 100%;
    margin: 0 auto;
    text-align: center;
}
table th{
    padding-bottom: 8px;
}
table td{
    border-bottom: 1px solid #404042;
    padding-bottom: 8px;
}
#close{
    position: absolute;
    top: 24px;
    right: 24px;
    cursor: pointer;
}
.show{
    display: flex;
}